ui = true

disable_mlock = true

storage "file" {
  path = "{{ vault_storage_path }}"
}

listener "tcp" {
  address       = "0.0.0.0:8200"
  tls_disable   = 0
  tls_cert_file = "{{ pioneer_ssl_dir }}/pioneer-2.crt"
  tls_key_file  = "{{ pioneer_ssl_dir }}/pioneer-2.key"
  tls_client_ca_file = "{{ pioneer_ssl_dir }}/ca.crt"
}

cluster_addr = "{{ vault_cluster_addr }}"
api_addr     = "{{ vault_api_addr }}"
